<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Adding</title>
</head>
<body>
    <h2>Add to db</h2>
    <form action="/insert" method="POST">
        <input type="text" name="Bookid">
        <input type="text" name="Bookname">
        <input type="text" name="Bookauthor">
        <input type="text" name="Bookpublisher">
                <input type= "submit" value= "Insert"/>
    </form>
</body>
</html>